---
pagination:
    data: snippetlog
    size: 1
    alias: snip
    addAllPagesToCollections: true
tags: snippet
permalink: "/snippet/{{snip.title | slugify }}.html"
eleventyComputed:
  title: "{{ snip.title }}"
  link: "/snippet/{{snip.title | slugify}}"
---

{% extends "components/base.njk"%}

{% block content %}
{{snip.title}}
<br/>
<code>
    <pre>{{snip.content}}</pre>
</code>
{% endblock %}