---
title: About me
---
{% extends "./components/base.njk"%}
{% import "./components/navbar.njk" as comp %}


{% block content%}
{{ comp.navbar(["About"]) }}

<section>
    <span>Hello, I'm Chris!</span>
    <div>I am a Software Engineer based in Glasgow, Scotland</div>
</section>
{% endblock %}