---
title: Contact
---
{% extends "components/base.njk"%}
{% import "./components/navbar.njk" as comp %}

{% block content%}

{{ comp.navbar(["Contact"]) }}

<div class="form-container">
    <form method="post" id="contact-form">
        <label htmlFor="name">Name</label> <br/>
        <input type="text"/><br/>
        <label htmlFor="email">Email</label> <br/>
        <input type="email" id="email" name="email" /><br/>
        <label htmlFor="name">Message</label> <br/>
        <textarea id="contact-msg"></textarea>
    </form>
</div>

{% endblock %}