---
title: chriseadie.com
---
{% extends "components/base.njk"%}

{% block content%}
<section id="intro-section">
    <div class="content-container">
        <div class="grid">
            <div class="intro-text">
                <p>I'm Chris</p>
                <p>a Software Engineer</p>
                <p>based in Glasgow</p>
            </div>
            <div class="intro-image">
            </div>
        </div>
    </div>
</section>
<section id="blog-post-section">
    <div class="content-container">
        <h2 class="section-title">Blog Posts</h2>
    </div>
    <hr/>
    <div class="content-container">
        <div class="d-flex">
            {% for post in collections.post  | reverse | limit(4) %}
            <a href="{{post.data.link}}" class="link-card">
                <div class="p-1">
                     <div style="background-image: url('https://images.unsplash.com/photo-1746254538152-2420e6b0a9dc?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')" class="link-image"></div>
                    <div class="p-1">
                    {{ post.data.title }}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
<section id="code-snippet-section">
    <div class="content-container">
        <h2 class="section-title">My Code Snippets</h2>
    </div>
    <hr/>
    <div class="content-container">
        <div class="d-flex">
        {%- for post in collections.snippet | reverse | limit(4) -%}
            <a href="{{post.data.link}}" class="link-card">
                <div class="p-1">
                    <div style="background-image: url('https://images.unsplash.com/photo-1746254538152-2420e6b0a9dc?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')" class="link-image"></div>
                    <div class="p-1">
                        {{ post.data.title }}
                    </div>
                </div>
            </a>
        {%- endfor -%}
        </div>
    </div>
</section>

{% endblock %}
