<section>
    <div>
        <span>
            <a href="/about">About Me</a>
        </span>
    </div>
    <div>
        <span>
            <a href="/blog">Blog</a>
        </span>
    </div>
    <div>
        <span>
            <a href="/code-snippets">Code Snippets</a>
        </span>
    </div>
    <div>
        <span>
            <a href="/contact">Contact Me</a>
        </span>
    </div>
</section>