---
pagination:
    data: awesomecontent
    size: 1
    alias: crs
    addAllPagesToCollections: true
tags: post
permalink: "/blog/{{crs.title | slugify }}.html"
eleventyComputed:
  title: "{{ crs.title }}"
  link: "/blog/{{crs.title | slugify}}"
---
{% extends "components/base.njk"%}

{% block content%}
<div class="content-container">
  <div style="background-image: url('{{crs.imageBanner}}')" class="image-banner"></div>
  <div class="content-container-slim">
    <h1>{{crs.title}}</h1>
    <div class="content-container-thin">
      {% for section in crs.template %}
        {% if section.type == "text" %}
          {%if section.index == "0"%}
            <p class="p-start">{{section.content}}</p>
          {% else %}
            <p>{{section.content}}</p>
          {% endif %}
        {% endif %}
        {% if section.type == "image" %}
          <div class="blog-image-container">
            <img src="{{section.src}}"/>
          </div>
        {% endif %}

      {% else %}
        <h1>TEMPLATE WAS CONSTRUCTED WRONT YOU IDIOT</h1>
      {% endfor %}
    </div>
  </div>
</div>
<div class="buffer"></div>
{% endblock %}