---
pagination:
    data: awesomecontent
    size: 1
    alias: crs
    addAllPagesToCollections: true
tags: post
permalink: "/blog/{{crs.title | slugify }}.html"
eleventyComputed:
  title: "{{ crs.title }}"
  link: "/blog/{{crs.title | slugify}}"
---
{% extends "components/base.njk"%}

{% block content%}
{{crs.title}}
<br/>
{{crs.content}}
{% endblock %}